### 4.2 네이버 데이터랩

영화 이름과 기간을 입력해 해당기간에 해당영화를 얼마나 검색했는지 확인

In [1]:
import os
import sys
import json
import urllib.request
from datetime import date
import pandas as pd
from dateutil.relativedelta import relativedelta
from tqdm import tqdm_notebook

In [2]:
movie_info_path='/home/ubuntu/miniii_su/movie/'

In [3]:
df1 = pd.read_csv(movie_info_path+'data/naver_movie_all.csv')
start_date = date(2017,1,1)
end_date = date(2017,12,31)
len(df1)

304

In [ ]:
# m_name = df1['movieNm'][0]
# m_code = df1['movieCd'][0]
# n_code = df1['naver_movieCd'][0]
# m_code

In [ ]:
# with open(movie_info_path+"/raw_data/movie_info/"+str(m_code)+".json") as data_file:    
#     data = json.load(data_file)
# openDt = data['movieInfoResult']['movieInfo']['openDt']
# openDt

In [ ]:
# date(int(str(openDt)[0:4]),int(str(openDt)[4:6]),int(str(openDt)[6:8]))
# edt = date(int(str(openDt)[0:4]),int(str(openDt)[4:6]),int(str(openDt)[6:8])) + relativedelta(months=1)
# sdt = date(int(str(openDt)[0:4]),int(str(openDt)[4:6]),int(str(openDt)[6:8]))
# str(sdt)

In [ ]:
# type(str(n_code))

### 1) naver_movie_all.csv 파일을 불러와서 
### 영화별 검색량을 상대적인 값으로 추출

In [4]:
for i in tqdm_notebook(range(len(df1['naver_movieCd']))):
    m_name = df1['movieNm'][i]
    m_code = df1['movieCd'][i]
    n_code = df1['naver_movieCd'][i]
    
    with open(movie_info_path+'raw_data/movie_info/'+str(m_code)+'.json') as data_file:    
        data = json.load(data_file)
    openDt = data['movieInfoResult']['movieInfo']['openDt']
    
    idt = date(2016,1,1)
    sdt = date(int(str(openDt)[0:4]),int(str(openDt)[4:6]),int(str(openDt)[6:8]))
    edt = sdt + relativedelta(months=1)
    
    if(sdt > idt):
        client_id = "nA8Iwm4HJ6EM2W1dueU9"
        client_secret = "HaEPQCPbyQ"
        url = "https://openapi.naver.com/v1/datalab/search"

        body='{\"startDate\":\"'+str(sdt)+'\",\"endDate\":\"'+str(edt)+'\",\"timeUnit\":\"date\",\"keywordGroups\":[{\"groupName\":\"영화\",\"keywords\":[\"'+m_name+'\"]}]}'

#         print(body)
        request = urllib.request.Request(url)
        request.add_header("X-Naver-Client-Id",client_id)
        request.add_header("X-Naver-Client-Secret",client_secret)
        request.add_header("Content-Type","application/json")
        response = urllib.request.urlopen(request, data=body.encode("utf-8"))
        rescode = response.getcode()
        
        if(rescode==200):
            response_body = response.read()
            d = json.loads(response_body)
            
        else:
            print("Error Code:" + rescode)
            
        d['results'][0]['data']
        df = pd.DataFrame(d['results'][0]['data'])
        df.to_csv(movie_info_path+'raw_data/datalab/'+str(n_code)[:-2]+'.csv',index=False)
        
    else:
        pass

HBox(children=(IntProgress(value=0, max=304), HTML(value='')))

### 2)  
movie_lis2 에 네이버 코드 넣기.. 3-6에서 씀 지금은 노노

In [5]:
import requests
from bs4 import BeautifulSoup
from datetime import datetime
import sys
import os
import pandas as pd
from tqdm import tqdm_notebook
import multiprocessing

af='after'
be='before'
lis = pd.read_csv(movie_info_path+'data/naver_movie_all.csv')
j=0
movie_lis2=[]
for i in range(len(lis['naver_movieCd'])):
    if(os.path.isfile(movie_info_path+'raw_data/after/'+str(lis['naver_movieCd'][i])[:-2]+'.csv') == True):
        movie_lis2.insert(j,str(lis['naver_movieCd'][i])[:-2])
        j+=1

In [7]:
movie_lis2

['153651',
 '158180',
 '158647',
 '151728',
 '149248',
 '168037',
 '158191',
 '172009',
 '165748',
 '163842',
 '18847',
 '165791',
 '146489',
 '154449',
 '137326',
 '158112',
 '66725',
 '106360',
 '154112',
 '118955',
 '154598',
 '158626',
 '171767',
 '141206',
 '159862',
 '151744',
 '159848',
 '172005',
 '155665',
 '165722',
 '163844',
 '151196',
 '169349',
 '168501',
 '125488',
 '152656',
 '160491',
 '150198',
 '142272',
 '165030',
 '171753',
 '150687',
 '170427',
 '144381',
 '152249',
 '149504',
 '151254',
 '171727',
 '152385',
 '160399',
 '154272',
 '155411',
 '39440',
 '116866',
 '144379',
 '134898',
 '164932',
 '69102',
 '166008',
 '166807',
 '164335',
 '162932',
 '154594',
 '159037',
 '100205',
 '134963',
 '125418',
 '19031',
 '36843',
 '168478',
 '144975',
 '161242',
 '159830',
 '129095',
 '154353',
 '65998',
 '150637',
 '157178',
 '161850',
 '169561',
 '160749',
 '153642',
 '152268',
 '164968',
 '165669',
 '164108',
 '143250',
 '121052',
 '142317',
 '163386',
 '99093',
 '158576',
 '155715',
 '169262',
 '164986',
 '142210',
 '169348',
 '169850',
 '149747',
 '156200',
 '125439',
 '137890',
 '152625',
 '143402',
 '161374',
 '159516',
 '151674',
 '163663',
 '88227',
 '140696',
 '143390',
 '143469',
 '154573',
 '162200',
 '143489',
 '137970',
 '152650',
 '159741',
 '149517',
 '162113',
 '153652',
 '146469',
 '152170',
 '144215',
 '137696',
 '155680',
 '143394',
 '165461',
 '154668',
 '154267',
 '167035',
 '162824',
 '167103',
 '144213',
 '137945',
 '125401',
 '149757',
 '146506',
 '70627',
 '132626',
 '146480',
 '135874',
 '156477',
 '154437',
 '152616',
 '76309',
 '152396',
 '159054',
 '158651',
 '152341',
 '154458',
 '165025',
 '141675',
 '146407',
 '151117',
 '166083',
 '155716',
 '123630',
 '137008',
 '143435',
 '120160',
 '152168',
 '149776',
 '155256',
 '164342',
 '31827',
 '162173',
 '162956',
 '158864',
 '160464',
 '148994',
 '62586',
 '165029',
 '158910',
 '142634',
 '154262',
 '114268',
 '125473',
 '149221',
 '82473',
 '156083',
 '144988',
 '140803',
 '156417',
 '163027',
 '129094',
 '160964',
 '162933',
 '154980',
 '156091',
 '156185',
 '154508',
 '152309',
 '147067',
 '159521',
 '143099',
 '141184',
 '38227',
 '144280',
 '146485',
 '140731',
 '118966',
 '161847',
 '136872',
 '143473',
 '160135',
 '144984',
 '125447',
 '127398',
 '146524',
 '94183',
 '153964',
 '127346',
 '150372',
 '99715',
 '127374',
 '156259',
 '158536',
 '146517',
 '134838',
 '142699',
 '147092',
 '152331',
 '142324',
 '142632',
 '160720',
 '156465',
 '160750',
 '152633',
 '146544',
 '154214',
 '149731',
 '137909',
 '38197',
 '114247',
 '161374',
 '143490',
 '162471',
 '137976',
 '143499',
 '97857',
 '137875',
 '117787',
 '144927',
 '149512',
 '101904',
 '134772',
 '127382',
 '152684',
 '90922',
 '143932',
 '127397',
 '125417',
 '159408',
 '152161',
 '143437',
 '143379',
 '110379',
 '142730',
 '142384',
 '144314',
 '110333',
 '130849',
 '134841',
 '137346',
 '149050',
 '155484',
 '136869',
 '136859',
 '132627',
 '142304',
 '130984',
 '102278',
 '158849',
 '144081',
 '126034',
 '143372',
 '151192',
 '157500',
 '146459',
 '130713',
 '142305',
 '145162',
 '136868',
 '144938',
 '132933',
 '153951',
 '152265',
 '145292',
 '141675',
 '10250',
 '150376',
 '146526',
 '116233',
 '140010',
 '156675',
 '139673',
 '118307',
 '149777',
 '31794',
 '31795',
 '137958',
 '31796',
 '158266']

### 2)

In [6]:
from tqdm import tqdm_notebook
df1 = pd.read_csv(movie_info_path+'data/naver_movie_all.csv')

for i in tqdm_notebook(range(len(df1))): #range(len(df1)):
    ncd = str(df1['naver_movieCd'][i])[:-2]
#     print(ncd)
    try:
        df2 = pd.read_csv(movie_info_path+'data/'+'datalab_'+ncd+'.csv')
        df3 = pd.read_csv(movie_info_path+'data/after/after_rating/'+ncd+'_rating.csv')
    
        for i in range(len(df3)):
            df3['0'][i] = str(df3['0'][i])[0:4]+"-"+str(df3['0'][i])[4:6]+"-"+str(df3['0'][i])[6:8]
        df3.rename(columns={"0":"period"}, inplace = True)
        df4 = pd.merge(df2,df3,how='left',on='period')
        for i in range(len(df4)):
            df4['1'][i] = df4['1'][i] * 100
            df4['2'][i] = df4['2'][i] * 10
        df4.to_csv('/home/ubuntu/movie/data/merge/'+ncd+'_merge.csv',index=False)
    except FileNotFoundError:
        pass

HBox(children=(IntProgress(value=0, max=304), HTML(value='')))